@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

html,
body {
  font-family: "Manrope", serif;
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
}

input {
  outline: none !important;
  box-shadow: none !important;
}

video {
  width: 100%;
}

/* Style for the Scroll to Top Button */
#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  width: 50px;
  height: 50px;
  background-color: #0f0f0f;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  z-index: 2000;
}

#scrollToTopBtn:hover {
  background-color: #ffffff;
  color: #000;
}

/* Add smooth scrolling effect */
html {
  scroll-behavior: smooth;
}

/* Top header */
#changingText {
  font-size: 0.9em;
  font-weight: bold;
  text-align: center;
  background-color: black;
  color: white;
  padding: 10px;
}

#changingText a {
  color: #ffffff;
  font-weight: bold;
}

.modal-md {
  max-width: 400px;
}

.global .dropdown-menu {
  height: 400px;
  overflow: auto;
  width: 400px;
}

@media (max-width: 500px) {
  .global .dropdown-menu {
    width: 360px;
  }

}

.global .dropdown-item {
  font-size: 16px;
  color: #333;
  position: relative;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 20px;
}

.global .dropdown-item:last-child {
  border-bottom: none;
}

.global .dropdown-item:hover {
  background-color: #dde2e7;
}

.global .check-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}

.global .dropdown-item.active .check-icon {
  display: inline-block;
}

.global .close-dropdown {
  cursor: pointer;
}

.global .dropdown-item.active,
.global .dropdown-item:active {
  color: black;
  text-decoration: none;
  background-color: white;
}

.cdr-header .main-header {
  border-bottom: 1px solid #f0f0f0;
}

.cdr-header .sub-header .navbar-nav .nav-item {
  margin-left: 1rem;
}

/* main menu header */
.Main-header .offcanvas {
  transition: transform 0.9s ease, opacity 0.3s ease;
}

.Main-header .offcanvas-backdrop {
  width: 300px;
  background-color: #6e6e6e;
  transition: opacity 0.1s ease;
}

.bagcanvas .offcanvas-backdrop {
  width: 100%;
}

.cdr-header .sub-header .cdr-mobile-search {
  display: none !important;
}

.cdr-header .main-header .main-menu-middle .cdr-logo {
  text-align: center;
  letter-spacing: 2px;
}

.cdr-mobile-search,
form.cdr-search-box {
  margin-left: auto;
}

.dropdown-menu>li:hover>.submenu,
.dropdown:hover>.dropdown-menu {
  display: block;
}

.cart-bag {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-icon {
  position: relative;
}

.cart-count {
  position: absolute;
  top: 1% !important;
  right: -8px;
  background-color: #0e0e0e;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}


@media (max-width: 500px) {
  .cdr-header .main-header .main-menu-left {
    text-align: center;
    padding: .5rem 0;
  }

  .cdr-header .sub-header .cdr-search-box {
    display: none !important;
  }

  .cdr-header .sub-header .cdr-mobile-search {
    display: block !important;
  }

  .cdr-header .main-header .main-menu-middle .cdr-logo a {
    text-align: left;
  }

  .main-menu-middle,
  .main-menu-right {
    margin-top: 5px;
  }

}

/* Category section */
.hover-zoom {
  overflow: hidden;
  position: relative;
}

.hover-zoom img {
  transition: transform 0.5s ease;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hover-zoom:hover img {
  transform: scale(1.03);
}

/* Text Overlay Styling */
.content-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-weight: bold;
}

.content-overlay h2 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.btn-custom {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  transition: all 0.3s ease;
}

.btn-custom:hover {
  background-color: black;
  color: white;
}

/* Media Queries */

/* Extra small devices (up to 576px) */
@media (max-width: 576px) {
  .cdr-category .MWtext h2 {
    font-size: 1.8rem;
  }

  .cdr-category .btn-custom {
    font-size: 0.9rem;
    padding: 8px 16px;
  }
}

/* Small devices (577px to 768px) */
@media (min-width: 577px) and (max-width: 768px) {
  .cdr-category .MWtext h2 {
    font-size: 1.8rem;
  }

  .cdr-category .btn-custom {
    font-size: 1rem;
    padding: 4px 9px;
  }
}

/* Medium devices (769px to 992px) */
@media (min-width: 769px) and (max-width: 992px) {
  .cdr-category .MWtext h2 {
    font-size: 2rem;
  }

  .cdr-category .btn-custom {
    font-size: 1.1rem;
    padding: 5px 10px;
  }
}

/* Large devices (993px and above) */
@media (min-width: 993px) {
  .cdr-category .MWtext h2 {
    font-size: 2.5rem;
    /* Larger size for desktops */
  }

  .cdr-category .btn-custom {
    font-size: 1.2rem;
    padding: 5px 10px;
  }
}

@media (max-width: 500px) {
  .men-departmant {
    margin-bottom: 1rem;
  }
}

/* ===========HERO SECTION====================  */
.cdr-hero .hero-banner img {
  width: 100%;
}

.cdr-product-introduction img {
  width: 100%;
}

/* Index product image */
.product .image-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.product .image-container img {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  width: 100%;
}

.product .image-container img.second-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.product .image-container:hover img.first-image {
  opacity: 0;
}

.product .image-container:hover img.second-image {
  opacity: 1;
}

.cdr-hero {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero-banner {
  width: 100%;
  height: 100%;
  position: relative;
}

.hero-banner video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 500px){
  .cdr-hero {
    height: 50%;
  }
}

/*==========MOBILE HERO SECTION ==================*/
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: #cecece;
  height: 3px;
  border-radius: 2px;
  padding: 0 55px;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  top: 0;
  bottom: auto;
}

.video-overlay {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  z-index: 10;
}

.video-controls {
  display: flex;
  gap: 10px;
}

.shop-btn {
  background-color: transparent;
  color: white;
  border: none;
  padding: 8px 40px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #c0c0c0;
  text-decoration: none;
}

.mute-btn,
.play-btn {
  width: 50px;
  height: 50px;
  background-color: #00000080;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* man product about  */
.men-about .image-box img,
.men-about .image-box video {
  width: 100%;
}

/* Checkout page */
.shipping-form-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 16px;
  border-radius: 20px;
}

.cdr-checkout-form {
  border-left: 1px solid #000;
}

.shipping-form-container h4 {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 12px;
  color: #333;
}

.shipping-form-container h3 {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 12px;
  color: #333;
}

.shipping-form-container .form-control,
.shipping-form-container .form-select {
  width: 100%;
  padding: 6px 8px;
  font-size: .8rem;
  color: #333;
  height: 30px;
  border: none;
  background-color: transparent;
}

.shipping-form-container .form-control:focus,
.shipping-form-container .form-select:focus {
  outline: none;
  box-shadow: none;
}

.shipping-form-container .manual-address {
  font-size: .8rem;
  color: #666;
  margin-top: 4px;
  cursor: pointer;
}

.manual-fields {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out;
}

.manual-fields.open {
  max-height: 225px !important;
}


.shipping-form-container .shipping-method-section {
  margin-top: 24px;
}

.shipping-form-container .shipping-options {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.shipping-form-container .shipping-option {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 8px;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.shipping-form-container .shipping-option:hover {
  border-color: #999;
}

.shipping-form-container .shipping-option input[type="radio"] {
  width: 14px;
  height: 14px;
  border: 2px solid #999;
  border-radius: 50%;
  appearance: none;
  cursor: pointer;
}

.shipping-form-container .shipping-option input[type="radio"]:checked {
  border: 4px solid #000;
}

.shipping-form-container .shipping-option-content {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shipping-form-container .shipping-name,
.shipping-form-container .shipping-price {
  font-size: 12px;
  font-weight: 500;
  color: #333;
}

.shipping-form-container .shipping-time {
  font-size: .8rem;
  color: #666;
}

.shipping-form-container .total-cost {
  margin-top: 12px;
  padding: 8px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 500;
  color: #333;
  text-align: right;
}

.shipping-form-container .form-row {
  display: flex;
  gap: 0;
}

.shipping-form-container .form-row .col-md-6 {
  flex: 1;
}

.shipping-form-container .form-row .col-md-6 input {
  width: 100%;
  padding: 6px 8px;
  font-size: 12px;
}


.checkout-card {
  max-width: 600px;
  margin: 0 auto;
}

.placeholder-image img {
  width: 60px;
  height: 60px;
  background-color: #e9ecef;
  border-radius: 5px;
}

.total-amount {
  font-weight: bold;
}

.ch-total-price span:last-child {
  font-weight: bold;
  font-size: 1.2rem;
}

.product-name {
  font-size: 0.85rem;
}

.quantity,
.price,
.summary span {
  font-size: 0.8rem;
}

.delete-product {
  cursor: pointer;
  font-size: 2rem;
  color: red;
  text-align: right;
  margin-top: -60px;
}

/* Checkout page */
.payment-methods {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.payment-methods button {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
  border: 1px solid #ddd;
}

.payment-methods button:hover {
  border: 1px solid #000000;
}

.payment-methods .dropdown {
  width: 100%;
}

.payment-methods .dropdown-menu {
  min-width: 100%;
}

.payment-fields {
  margin-top: 20px;
  display: none;
}

.payment-fields input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.payment-methods i {
  margin-right: 10px;
}

#coupon-section {
  width: 100%;
  max-width: 400px;
}

#coupon-input {
  padding-right: 70px;
}

button.btn.coupon-apply {
  margin-left: -68px;
}

.is-invalid {
  border-color: red;
}

.is_valid {
  border-color: #28a745;
}

.suggestions {
  border: 1px solid #ddd;
  max-height: 200px;
  overflow-y: auto;
  background-color: #fff;
  position: absolute;
  z-index: 1000;
  width: 100%;
}

.suggestion-item {
  padding: 8px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}


/* product details */
#sizeSelector .nav-link {
  color: #000;
}

.accordion-button:not(.collapsed) {
  color: black;
  background-color: rgb(235, 235, 235);
  box-shadow: none;
}

.accordion-button:focus {
  border-color: black;
}

.wrapper {
  display: flex;
  flex-direction: row; 
  border-radius: 10px;
  gap: 20px; 
}

.mainImage {
  width: 100%;
  max-width: 600px;
  flex-grow: 1;
  overflow: hidden;
  cursor: zoom-in;
}

.mainImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.05s ease-out;
}

.thumbnail {
  width: 100%;
  height: 450px;
  max-width: 100px;
  position: relative;
  overflow: hidden;
}

.thumbnail .swiper-container {
  width: 100%;
  height: 600px; 
}

.thumbnail .swiper-wrapper {
  display: flex;
  flex-direction: column; 
}


.thumbnailBox {
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

.thumbnailBox.active {
  border: 2px solid #202020;
}

.thumbnailBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumbnail .swiper-container-vertical .swiper-button-next,
.thumbnail .swiper-container-vertical .swiper-button-prev {
  left: 50%;
  transform: rotate(90deg);
  transform-origin: left center;
}

.thumbnail .swiper-container-vertical .swiper-button-prev {
  top: 10px;
}

.thumbnail .swiper-container-vertical .swiper-button-next {
  top: auto;
  bottom: 10px;
}

/* Swiper Next and Prev buttons style */
.thumbnail .swiper-button-next,
.thumbnail .swiper-button-prev {
  cursor: pointer;
}

 .swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px;
  color: black;
}

#FullscreenModal .modal-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#FullscreenModal .swiper {
  width: 100%;
  height: 100%;
}

#FullscreenModal .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#FullscreenModal .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}


   /* Custom Styles for the Gallery */
   .smallScreengallery .swiper {
    width: 100%;
    height: 100%;
  }

  .smallScreengallery .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .smallScreengallery .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }



/*===============PRODUCT PAGE=================================*/

.filter-card {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.filter-header {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 15px;
  color: #343a40;
}

.filter-section {
  margin-bottom: 15px;
}

.clear-filters-btn {
  width: 100%;
  background-color: #000000;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.clear-filters-btn:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-weight: bolder;
}

.slider-value {
  display: inline-block;
  margin-top: 10px;

}

.filter-label {
  font-size: 0.9rem;
  font-weight: 500;
  color: #6c757d;
}

.rating-stars i {
  color: #ffbc00;
}

/* Customize the slider track */
#price-range::-webkit-slider-runnable-track {
  background-color: black;
}

/* Customize the slider thumb */
#price-range::-webkit-slider-thumb {
  background-color: rgb(255, 255, 255);
  border: 2px solid #000;
}

/* newslater section */
.cdr-newsletter {
  margin-top: 100px;
}

.cdr-newsletter h5 {
  letter-spacing: 3px;
}

.product-cart-button div {
  width: 100%;
}

.cart-button,
.checkout-button {
  width: 100%;
  border-radius: 0;
}

.checkout-button,
.disabled.checkout-button {
  background: transparent;
  color: #000;
}

@media (max-width: 500px) {
  .cdr-newsletter {
    text-align: center;
  }

  .newslater-form {
    margin-top: 1rem;
  }

  .product-cart-button {
    width: 100%;
    display: inline-block !important;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*================== FOOTER ============================*/

.cdr-footer .footer-copyright {
  font-size: .9rem;
}

.cdr-footer .footer-brand {
  font-size: 1.2rem !important;
}

.cdr-footer .footer-widget {
  font-size: .9rem;
}

.cdr-footer .footer-widget h5 {
  font-size: .9rem;
}

@media (max-width: 500px) {
  .cdr-footer .footer-widget {
    font-size: .75rem;
  }
}


/*=================== Country Selector =========================*/

.showPopup {
  cursor: pointer;
  font-size: 16px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 500px) {
  .showPopup {
    font-size: 15px;
    justify-content: start;
  }
}

@media (max-width: 769px) {
  .showPopup {
    justify-content: center;
  }
}


.side-popup,
.sub-side-popup {
  width: 560px;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
}

.side-popup {
  z-index: 101;
  left: -560px;
}

.sub-side-popup {
  z-index: 102;
  left: -560px;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.location-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #f0f0f0;
}

.location-header span {
  font-size: 15px !important;
}

.close-popup {
  border: none;
  background: none;
  font-size: 40px;
  cursor: pointer;
  font-weight: 300;
  line-height: 20px;
}

.location-section h2 {
  margin: 0;
  background: #f0f0f0;
  border-bottom: 1px solid #e5e7eb;
  padding: 12px 20px;
  font-size: 20px;
}

.location-section ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 15px;
}

.location-section ul li {
  padding: 15px;
  border-bottom: 1px solid #f0f0f0;
  cursor: pointer;
  position: relative;
}

.location-section ul li .arrow {
  position: absolute;
  right: 10px;
  top: 10px;
}

.location-section ul li:hover {
  opacity: .7;
}

.sub-side-popup {
  right: -560px;
}

.location-section ul li .arrow {
  right: 15px;
}

.location-lang {
  padding-left: 0px;
  margin-top: 0px;
}

.location-back {
  margin-top: 0px;
}

.location-back {
  margin-bottom: 0px;
}

.location-back li:last-child {
  border-bottom: 1px solid #f0f0f0;
}

.location-back li {
  line-height: normal;
}

.location-lang li,
.location-back li {
  list-style: none;
  padding: 15px;
  border-bottom: 1px solid #f0f0f0;
}

.location-lang li a,
.location-back li a {
  text-decoration: none;
  color: #000;
  padding-left: 35px;
}

.location-lang li:last-child {
  border: none;
}

.location-lang li :hover,
.location-back li :hover {
  opacity: .7;
}

.location-lang .close-popup,
.location-back .close-popup {
  font-size: 1rem;
  position: relative;
  padding-left: 18px;
}

.location-back .close-popup {
  font-size: 15px;
  box-shadow: none;
}

.location-back .close-popup:hover {
  background: white;
}

.location-lang .close-popup:before,
.location-back .close-popup:before {
  content: '';
  position: absolute;
  left: 4px;
  top: 18%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  transform: rotate(-133deg);
  transition: transform 0.3s ease;
  margin-top: 4px;
}

.location-lang .close-popup:hover:before,
.location-back .close-popup:hover:before {
  left: 0;
  /* Adjust the value as needed */
}

.location-section ul li button {
  border: none;
  background-color: transparent;
  padding: 0px;
  cursor: pointer;
  font-size: 15px;
  line-height: normal;
}

.location-section ul li button span.flag-icon {
  margin-right: 4px;
  border-radius: 2px;
}

.location-section ul li:after {
  top: calc(40% - 1px);
  background-repeat: no-repeat;
  background-size: 12px 12px;
  right: 50px;
  content: '';
  position: absolute;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  transform: rotate(-319deg);
  transition: transform 0.1s ease;
}

.location-section ul li:hover::after {
  right: 45px;
}

.location-section ul li:last-child {
  border: none;
}

.location-section ul li button {
  color: #000;
}

.location-back .close-popup {
  color: #000;
}

.country_selector_dropdown-content {
  min-width: 800px;
}

.country_selector_dropdown:hover .country_selector_dropdown-content {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.showPopup img,
.country_selector_dropbtn img {
  height: 16px;
}

/* Styles for screens smaller than 600px (typical smartphones) */
@media only screen and (max-width: 600px) {

  .side-popup,
  .sub-side-popup {
    width: 100%;
  }

  .location-section ul li:after {
    right: 34px;
  }
}

button.close-popup-1 {
  display: none;
}


/* ========================CART PAGE=========================================*/
/* Order Summary Styles */
.cdr-cart .order-summary,
.cart-coupon {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.cdr-cart .list-group-item {
  border: none;
}

.cdr-cart .list-group-item.bg-light {
  background-color: #f8f9fa !important;
}

.cdr-cart .btn-checkout {
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  padding: 15px;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.cdr-cart .btn-checkout:hover {
  background-color: #c8a165;
}

.cart-offcanvas-footer button {
  border-radius: 0;
  letter-spacing: 2px;
  font-weight: 200;
}

/*================PRODUCT CARD==================*/
.quick-view-btn {
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.quick-view-btn i {
  font-size: .8rem;
}

/*================CUSTOM PEODUCT QUICK VIEW MODAL==================*/
.custom-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}


.custom-modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 950px;
  position: relative;
}

.custom-modal-close {
  position: absolute;
  top: 3px;
  right: 15px;
  color: #000;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.custom-modal-close:hover {
  color: red;
}

.size-selector {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.size-box {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s, border-color 0.3s;
}

.size-box:hover {
  border-color: #000;
  background-color: #f0f0f0;
}

.size-box.active {
  background-color: #000;
  color: #fff;
  border-color: #000;
}

.product-thumbnail img {
  width: 100%;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .custom-modal {
    height: 100%;
  }
}

.product-thumbnail {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.product-thumbnail img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.swiper-button-next,
.swiper-button-prev {
  color: #000;
}

.swiper-pagination-bullet { 
  background: #000;
}